*{
    margin: 0;
    padding: 0;
}

body {
    height: 800px;
    font-family: 'Azeret Mono', monospace;
    background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/5cr4lVBZ2k1il5kgkj0op8/68fcc40c97192a3dbaaa20ea5153c7bf/Quizzes-Hub-Copy-compressor.png?w=1024&fm=webp&q=70");
    background-repeat : no-repeat;
    background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

  h1 {
    /* margin:auto; */
    display: flex;
    text-align: left;
    padding-top:80%;
    margin-bottom: 20px;
    padding:20px;
    font-size: 540%;
    font-family: 'Merriweather', serif;
    color: white;
    background-color: #10141b;
    margin-top:-0.9%;
    /* padding-bottom:20px; */
    padding-top:20px;
    margin-top: 0.1px;
}
/* input[type="text"]#title{
    width:90%;
    padding-bottom:20px;
} */
.Question{
    margin:auto;
    /* padding:30px; */
    width:70%;
    /* margin-right:200px; */
    background-color: white;
    text-align: left;
    height:30%;
    padding-top: 2%;
    border-radius: 15px 15px 0px 0px;
    margin-top:3%;

    /* box-shadow:3px 3px 5px 6px; */
}
input[type="textarea"]{
    width:100%;
    padding-bottom:100px;
    margin-top:100px;
    height:max-content;

}
li{
    padding:1.3%;
}
.submission{
    padding:20px;
    text-align: center;
}
/* input[type="submit"]
{
    font-size:20px;
    margin:10px;
    padding-left: 10px;
    padding-right: 10px;
} */
.options{
    background-color: white;
    /* border-radius: 15px; */
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    /* padding:40px;
    margin-left:300px;
    margin-right:200px; */
    width:70%;
    margin-top:1%;
    margin-left:15%;
    padding-top:40%;
    padding:0.01%;
    padding-bottom: 1%;
    margin-top:0%;
    border-radius: 0px 0px 10px 10px;
    /* box-shadow:0 0 0 6px;*/


}

h3{
    margin-left:1%;
    margin-top:3%;
}
.textques{
    margin-left:1%;
    margin-bottom:2%;
    margin-top:2%;
    width:90%;
    height:80%;
    padding-bottom:5%;
}
.textquiz{
    margin-left:1%;
    margin-bottom:2%;
    width:90%;
    height:80%;

}
#ETQ{
    /* margin-top:-1%; */
    /* display: inline; */
    margin-left:1%;
    font-weight: bolder;
    float:left;
    margin-top: 0.48%;
    /* padding-bottom: 1%; */
}
#NOQ{
    /* display: inline; */
    font-weight: bolder;
    margin-right:1%;
    /* margin-right: 3%;
    padding-bottom: 1%; */
    /* text-align: left; */
    float:right;
    /* margin-bottom: 1%; */
}
span{
    font-size: 120%;
    /* padding-bottom: 20px; */
}
input[type="text"]{
    width:90%;
    padding:0.1%;
    border-radius: 5px;
    margin-left: 0.7%;
}
button{
    font-size: 120%;
    margin-right: 3%;
    border:1px solid black;
    border-radius: 10px;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    background-color: rgba(0, 0, 255, 0.329);
    color:white;
}
.image{
    display:flex;
    background-color: #10141b;
    height:130px;
}
.image img{
   margin-left:0%;
   height: 110px;
   margin-top: 20px;
   margin-left: 10px;
}

button:hover{
    transform: scale(1.3);
}
.scorecard{
    background-color: black;
    width:20%;
}

@media only screen and (max-width: 550px){
    h1{font-size: 100%;}
}