body{
    background-image: url("../bg.webp");
    background-repeat: no-repeat;
    background-size:100%;
}
.main{
    background-color: white;
    /* margin-top:10%; */
    width:80%;
    margin-left:10%;
    border:1px solid black;
    padding-top:1%;
    /* padding-bottom: 300px; */
}
.Question{
    text-align: center;
    font-size: 280%;
}
.Options{
    margin-left:3%;
    font-size:170%;
}
li{
    padding:1%;
}
button{
    font-size: 110%;
    /* padding:10px; */
    margin-top:5px;
    margin-right:20px;
    float:right;
    padding-left:20px;
    padding-right:20px;
}
.info{
    display:flex;
    /* border:1px solid black; */
    margin-top:16%;
    /* background:rgb(206, 203, 203); */
    width:74%;
    margin-left:10%;
    padding:1%;
    padding-right:5%;
}

.card {
  background-color: #f2f2f2;
  font-size: 15px;
  height: 100px;
  width: 300px;
  margin-left: 50px;
  text-align: center;
  border-radius: 10px;
  border:1px solid black;
}

.box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #FFFFFF;
  border-radius: 20px;
  border: 1px solid black;
}

.playB, .scorecard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.opt-div {
  margin-top: 2px;
}

@media only screen and (max-width: 500px) {
    .timer,.score,.rounds{
        width:33.33%;
        font-size: 100%;
        text-align: center;
    }
    .Question{
            text-align: center;
            font-size: 200%;
        }
}
